/* The comments refer to the index.html file to show how each selector is being used */


/* My global variables */
:root {
    --accent: rgb(33, 33, 109);
    --highlight: #111;
}

html{
    scroll-behavior: smooth;
}

/* My universal selector styling for the entire page*/
*{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* My body styling to make everything span end to end of the width */
body{
    margin: 0%;
}

/* Making the p tag larger */
p{
    font-size: large;
}

/* Making the h1 tag change with the ciewport size */
h1{
    font-size: 4vw;
}

/* My header styling at the top of the webpage */
header{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: var(--accent);
    color: white;
    display: inline-block;
    padding-top: 50px;
}

/* Setting up the header title area */
.top
{
    display: flex;
    justify-content: center;
}

/* Adjusting the sizing and placement of the image in header */
header img{
    height: 10vw;
    margin-left: -3vw;
}
/* My navigation styling which is nested in header in index.html */
nav{
    display: flex;
    justify-content: center;
    font-size: x-large;
    max-width: 70vw;
    margin: auto;
}

/* My navigation link styling which I nest within a div block in index.html */
nav div a{
    background-color: var(--accent);
    list-style: none;
    margin-bottom: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* This dispalys a highlight when you hover over my navigation elements */
nav div a:hover{
    background-color: var(--highlight);
    border-radius: 10px;
}

/* The main image styling at the top of the webpage */
.hero {
    width: 100%;
    height: 10vw;
    display: flex;
    background-color: black;
    
}

.hero img{
    object-fit:scale-down;
    width: 100%;
}

/* This is my container class which defines the overall sizing and style of each section element */
.container{
    display: flex;
    /* border: 5px solid black; */
    max-width: 70vw;
    margin: auto;
    margin-top: 50px;
}

/* This is the styling for the heading of each section element which is located to the left of the page */
.left{
    width: 20%;
    border-right: 5px solid var(--accent);
    /* border-radius: 10px; */
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    color: var(--accent);
    font-size: x-large;
}

/* This is the styling of the information within each section element */
article{
    width: 80%;
    padding: 20px;
}

/* This is the styling for how the projects will be displayed in Section 2 */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* This shows the featured project as the largest visual item in Section 2 */
.project-item-main {
    position: relative;
    margin: 15px;
    flex: 100%;
    height: 300px;
    text-align: center;
}

/* Shows selection as you hover featured Project*/
.project-item-main:hover {
    opacity: 50%;
}

/* This is the styling for the rest of the projects other than the featured one in Section 2 */
.project-item {
    position: relative;
    margin: 15px;
    text-align: center;
    flex: 25%;
    max-width: 420px;
    min-width: 420px;
    height: 300px;
}

/* Shows selection as you hover over Projects */
.project-item:hover {
    opacity: 50%;
}

/* This is the image styling within Section 2 so that it fits within its section when resized */
.project-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
}

.project-title{
    position: absolute;
    bottom: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    opacity: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: var(--accent);
    color: white;
    display: inline-block;
    margin-top: 40px;
    height: 300px;
    padding-top: 40px;
}

footer nav {
    justify-content: center;
}



/* This changes the look and layout based on the screen width to create a responsive webpage*/
@media screen and (max-width: 1900px) {

    .project-item{
        flex:40%;
    }

}

@media screen and (max-width: 1100px) {

    nav {
        justify-content: center;
    }
    
    .container{
        flex-direction: column;
        padding: 20px;
    }

    .left{
        border-bottom: 5px solid var(--accent);
        border-right: none;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    article{
        width: 100%;
    }

    .project-item{
        flex: 100%;
        text-align: center;
    }


  }

  @media screen and (max-width: 600px) {

    nav{
        flex-direction: column;
    }

  }


